n8n/PRX Invoice Detail.json
{
  "name": "PRX Invoice Detail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-detail",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1cce91a4-5af9-4f30-a193-dc9c7e68b181",
      "name": "Webhook",
      "webhookId": "3e9a1e1d-e6bc-476d-8dc8-f22de85f9962"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Function Node - Transform Invoice Detail JSON for SQLite Insert\n * Handles the nested webhook structure from ActiveReports\n */\n\n// Get the webhook data - it's nested in body\nconst inputData = $input.all()[0].json;\n\n// Try to access the data - it might be in different locations\nlet webhookData;\n\nif (inputData.body) {\n    webhookData = inputData.body;\n} else if (inputData.reportType) {\n    webhookData = inputData;\n} else {\n    throw new Error('Could not find webhook data. Structure: ' + JSON.stringify(Object.keys(inputData)));\n}\n\n// Validate we have the items array\nif (!webhookData.items || !Array.isArray(webhookData.items)) {\n    throw new Error('Items array not found. Available keys: ' + JSON.stringify(Object.keys(webhookData)));\n}\n\nconst { reportType, generatedAt, totalItems, items } = webhookData;\n\n/**\n * Parse date from MM/DD/YYYY HH:MM:SS to ISO format\n */\nfunction parseDate(dateString) {\n    if (!dateString) return null;\n    \n    try {\n        const [datePart, timePart] = dateString.split(' ');\n        const [month, day, year] = datePart.split('/');\n        const [hours, minutes, seconds] = (timePart || '00:00:00').split(':');\n        \n        const date = new Date(year, month - 1, day, hours, minutes, seconds);\n        return date.toISOString();\n    } catch (error) {\n        console.error('Error parsing date:', dateString, error);\n        return null;\n    }\n}\n\n/**\n * Group items by invoice number\n */\nfunction groupItemsByInvoice(items) {\n    const grouped = {};\n\n    items.forEach(item => {\n        const invoiceNumber = item.InvoiceNumber;\n        \n        if (!grouped[invoiceNumber]) {\n            grouped[invoiceNumber] = {\n                InvoiceNumber: item.InvoiceNumber,\n                InvoiceDate: item.InvoiceDate,\n                InvoiceDetailID: item.InvoiceDetailID, // kept for reference only -- NOT used as InvoiceID (see buildInvoiceId)\n                SupplierName: item.SupplierName,\n                StatusChangedOn: item.StatusChangedOn,\n                LocationPrintName: item.LocationPrintName,\n                items: []\n            };\n        }\n\n        grouped[invoiceNumber].items.push(item);\n    });\n\n    return grouped;\n}\n\n/**\n * Build a stable, deterministic InvoiceID for the upsert match key.\n * IMPORTANT: do NOT use a per-line-item ID (e.g. InvoiceDetailID) here --\n * this report re-sends the same invoice on every scheduled run, and if the\n * \"first\" item in the group differs between runs, a per-item ID produces a\n * *different* value each time, so the upsert can't find the existing row\n * and inserts a duplicate instead of updating it. InvoiceNumber+SupplierName\n * is stable across every re-send of the same real invoice.\n */\nfunction buildInvoiceId(invoiceNumber, supplierName) {\n    const number = String(invoiceNumber ?? '').trim();\n    const supplier = String(supplierName ?? '').trim().toUpperCase();\n    return supplier ? `${number}::${supplier}` : number;\n}\n\n// Group the items by invoice\nconst invoiceGroups = groupItemsByInvoice(items);\n\n// Transform each invoice group into database records\nconst records = [];\n\nfor (const [invoiceNumber, invoiceData] of Object.entries(invoiceGroups)) {\n    const {\n        InvoiceNumber,\n        InvoiceDate,\n        InvoiceDetailID,\n        SupplierName,\n        StatusChangedOn,\n        items: invoiceItems\n    } = invoiceData;\n\n    records.push({\n        InvoiceID: buildInvoiceId(InvoiceNumber, SupplierName),\n        InvoiceDate: parseDate(InvoiceDate),\n        InvoiceNumber: InvoiceNumber,\n        SupplierName: SupplierName,\n        StatusChangedOn: parseDate(StatusChangedOn),\n        LocationID: null,\n        TotalItems: invoiceItems.length,\n        ItemDetails: JSON.stringify(invoiceItems),\n        LastProcessedAt: new Date().toISOString(),\n        CreatedAt: new Date().toISOString(),\n        ModifiedAt: new Date().toISOString()\n    });\n}\n\n// Return the transformed records for n8n to insert\nreturn records.map(record => ({ json: record }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "615ce3d7-73d6-49c8-9f7f-d8333903fa16",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "prx-invoices",
          "mode": "list",
          "cachedResultName": "prx-invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TotalItems": "={{ $json.TotalItems }}",
            "InvoiceID": "={{ $json.InvoiceID }}",
            "InvoiceDate": "={{ $json.InvoiceDate }}",
            "InvoiceNumber": "={{ $json.InvoiceNumber }}",
            "SupplierName": "={{ $json.SupplierName }}",
            "StatusChangedOn": "={{ $json.StatusChangedOn }}",
            "LocationID": "={{ $json.LocationID }}",
            "ItemDetails": "={{ $json.ItemDetails }}",
            "LastProcessedAt": "={{ $json.LastProcessedAt }}"
          },
          "matchingColumns": [
            "InvoiceID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "modified_at",
              "displayName": "modified_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "InvoiceID",
              "displayName": "InvoiceID",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "InvoiceDate",
              "displayName": "InvoiceDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "InvoiceNumber",
              "displayName": "InvoiceNumber",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "SupplierName",
              "displayName": "SupplierName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "StatusChangedOn",
              "displayName": "StatusChangedOn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "LocationID",
              "displayName": "LocationID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "TotalItems",
              "displayName": "TotalItems",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ItemDetails",
              "displayName": "ItemDetails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "LastProcessedAt",
              "displayName": "LastProcessedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "4988fe22-a792-48cc-a34a-6e086fda4e09",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "3UN56a60soRJMYX0",
          "name": "BPLINUX PRX Invoices"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bushardspharmacy.com",
            "content-length": "77169",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "23.242.77.20",
            "cf-ipcountry": "US",
            "cf-ray": "9cad490f3e0fb6c9-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "6b885bd1-8718-49ed-8137-06c5ab51876e",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "23.242.77.20",
            "x-forwarded-proto": "https",
            "x-generated-at": "2026-02-08T10:45:40",
            "x-report-type": "invoice-detail",
            "x-total-items": "51"
          },
          "params": {},
          "query": {},
          "body": {
            "reportType": "Invoice Detail",
            "generatedAt": "2026-02-08T10:45:40",
            "totalItems": 51,
            "items": [
              {
                "AWP": "2.51",
                "AWPPackagePrice": "250.52",
                "CatalogItemDescription": "Ropinirole Hcl Tabs 0.25mg Ban 100",
                "CurrentOnHandQuantity": "220.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "29159",
                "InventoryGroupID": "05c3ac4a-904e-4758-95df-bd10e3f8c3a8",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "1.59",
                "InvoiceDate": "02/06/2026 00:00:00",
                "InvoiceDetailID": "b3672823-605e-4cfd-9619-45f733168289",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "11194035",
                "InvoiceQuantity": "1",
                "ItemID": "afb40524-b4e8-461c-9161-480805f972bc",
                "ItemName": "ROPINIROLE EQ 0.25MG",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.05",
                "NADACPackagePrice": "4.74",
                "NDC": "69452035620",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "1.58",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 07:02:39",
                "StockSize": "100.00",
                "Strength": "0.25 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "5285036",
                "SupplierName": "IPCRx",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "28362008.00",
                "TherapeuticClassDescription": "NONERGOT-DERIV.DOPAMINE RECEPTOR AGONIST",
                "UPC": "369452356203",
                "WAC": "0.14",
                "WACPackagePrice": "14.04"
              },
              {
                "AWP": "3.53",
                "AWPPackagePrice": "352.75",
                "CatalogItemDescription": "Nitrofurantoin Macrocrystals Caps 100mg Alem 100",
                "CurrentOnHandQuantity": "186.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Capsule",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "9428",
                "InventoryGroupID": "ed4cd918-d91c-403d-bd02-21359b56668f",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "11.34",
                "InvoiceDate": "02/06/2026 00:00:00",
                "InvoiceDetailID": "9c099085-4ffa-449b-ac32-41a178be152a",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "11194035",
                "InvoiceQuantity": "1",
                "ItemID": "b87f0cb0-c8fa-4ce3-b7c1-801ffe2a12a4",
                "ItemName": "NITROFURANTOIN 100MG",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.24",
                "NADACPackagePrice": "23.86",
                "NDC": "62332039131",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "11.34",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 07:02:39",
                "StockSize": "100.00",
                "Strength": "100 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "5304324",
                "SupplierName": "IPCRx",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "8360000.00",
                "TherapeuticClassDescription": "URINARY ANTI-INFECTIVES",
                "UPC": "362332391318",
                "WAC": "1.28",
                "WACPackagePrice": "127.60"
              },
              {
                "AWP": "1.60",
                "AWPPackagePrice": "447.78",
                "CatalogItemDescription": "Balsalazide Disodium Caps 750mg Zyd 280",
                "CurrentOnHandQuantity": "280.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Capsule",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "40304",
                "InventoryGroupID": "3e11b3aa-3848-4c8c-85c6-efe7787d829c",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "53.39",
                "InvoiceDate": "02/06/2026 00:00:00",
                "InvoiceDetailID": "d58c22ad-4de5-4af6-8043-1f441b57eb9e",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "11194035",
                "InvoiceQuantity": "1",
                "ItemID": "122ae31f-ad37-4a9d-9aff-a2932b22e5a2",
                "ItemName": "Balsalazide Disodium 750 Mg Cp",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.39",
                "NADACPackagePrice": "109.33",
                "NDC": "70710162601",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "53.40",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 07:02:39",
                "StockSize": "280.00",
                "Strength": "750 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "5295498",
                "SupplierName": "IPCRx",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "56360000.00",
                "TherapeuticClassDescription": "ANTI-INFLAMMATORY AGENTS (GI DRUGS)",
                "UPC": "370710162610",
                "WAC": "0.71",
                "WACPackagePrice": "200.00"
              },
              {
                "AWP": "4.65",
                "AWPPackagePrice": "174.37",
                "CatalogItemDescription": "Estradiol Gel 0.06% Solar 50gm",
                "CurrentOnHandQuantity": "112.50",
                "DeaSchedule": "0",
                "DispensingUnitText": "GM",
                "DosageFormText": "Gel in Metered-dose Pump",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "54628",
                "InventoryGroupID": "8b9a12e9-eae9-40ee-a336-83eeb7bb8b2f",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "110.89",
                "InvoiceDate": "02/06/2026 00:00:00",
                "InvoiceDetailID": "520cba54-c375-451d-9fd4-9322e6fac742",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "11194035",
                "InvoiceQuantity": "2",
                "ItemID": "5eb2e448-b482-4b30-a7de-1a89117f6540",
                "ItemName": "Estradiol 0.06% 1.25g Gel Pump",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "3.51",
                "NADACPackagePrice": "131.60",
                "NDC": "73473030850",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "221.78",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 07:02:39",
                "StockSize": "37.50",
                "Strength": "1.25 gram/actuation (0.06 %)",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "5298765",
                "SupplierName": "IPCRx",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "68160400.00",
                "TherapeuticClassDescription": "ESTROGENS",
                "UPC": "373473308509",
                "WAC": "3.87",
                "WACPackagePrice": "145.31"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Cremo Body Wash Sage Citrus Liq 16oz",
                "CurrentOnHandQuantity": "5.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "6647ec19-f085-47a1-94bb-962903d88cfb",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "6.10",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "e4d6e599-d5ff-4a9e-a18d-3b64ba4fa582",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241497443",
                "InvoiceQuantity": "4",
                "ItemID": "7e3e5c04-49fb-4b69-8725-71c774966fbb",
                "ItemName": "Cremo Body Wash Sage Citrus Liq 16oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "24.40",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "4",
                "StatusChangedOn": "02/07/2026 04:06:46",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "12.20",
                "SupplierItemNumber": "716588",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "10.89",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "853382004445",
                "WAC": "6.10",
                "WACPackagePrice": "6.10"
              },
              {
                "AWP": "0.01",
                "AWPPackagePrice": "4.78",
                "CatalogItemDescription": "GERI-TUSSIN S/F A/F LIQ CHERRY 16OZ",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Liquid",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "22210",
                "InventoryGroupID": "d2280a24-145b-455f-8618-4c0f60a8881b",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "3.28",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "8f0e9592-fcbc-4dfe-9b35-853606ec5087",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241499533",
                "InvoiceQuantity": "2",
                "ItemID": "e0d641fb-b8b0-406e-9828-0ddd878a964f",
                "ItemName": "Geri-Tussin 100 Mg/5 Ml Soln",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "57896069316",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "6.53",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:46",
                "StockSize": "473.00",
                "Strength": "100 mg/5 mL",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "732833",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "6.49",
                "TherapeuticClassCode": "48160000.00",
                "TherapeuticClassDescription": "EXPECTORANTS",
                "UPC": "357896793166",
                "WAC": "0.01",
                "WACPackagePrice": "3.99"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Gnp Cotton Ball Jumbo 70",
                "CurrentOnHandQuantity": "1.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "ab760fa0-5c08-4fcc-8ac4-8d5b25d6e431",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "1.04",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "2f068cf3-6913-49e2-9bed-7ec56fa5a43e",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "5a50c51d-47c5-4968-a08f-efba4c686bcb",
                "ItemName": "Gnp Cotton Ball Jumbo 70",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "1.04",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "543862",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "2.29",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "087701401329",
                "WAC": "0.75",
                "WACPackagePrice": "0.75"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Gnp Cotton Rnd 80",
                "CurrentOnHandQuantity": "7.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "e017992c-9798-412c-97e5-eb3514893586",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "1.13",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "5a826d33-8588-4a68-b7c5-dc7412d2f369",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "42fcf56f-8f4c-4681-bb55-fb8800c4b66a",
                "ItemName": "Gnp Cotton Rnd 80",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "1.13",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "896902",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "1.89",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "087701896903",
                "WAC": "0.99",
                "WACPackagePrice": "0.99"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Q-Tips Cotton Swab Travel Pack 30ct",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "0673540b-55f4-4f8c-a0a8-5c536e382985",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "1.23",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "9e387635-2f5f-4cc0-9292-72a289f76f94",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "2",
                "ItemID": "70944101-29e0-4d5b-9215-30ea89e357e6",
                "ItemName": "Q-TIPS COTTON SWAB TRAVEL PACK 30CT",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "2.46",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "741450",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "2.39",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "305210221277",
                "WAC": "1.23",
                "WACPackagePrice": "1.23"
              },
              {
                "AWP": "2.59",
                "AWPPackagePrice": "2.59",
                "CatalogItemDescription": "GNP ADV HAND SANITIZER W/ALOE LIQ 8OZ",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "38829",
                "InventoryGroupID": "bc0cadb2-45e0-41d0-a2ef-233930a1b78c",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "1.82",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "ead26e72-324b-49ec-a70b-ebd3d45405cd",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "af806f62-e8e7-4516-b912-ef5e32156141",
                "ItemName": "Gnp Adv Hand Sanitizer W/aloe Liq 8oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "24385003434",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "1.82",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "4.00",
                "SupplierItemNumber": "755630",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "2.59",
                "TherapeuticClassCode": "84049200.00",
                "TherapeuticClassDescription": "LOCAL ANTI-INFECTIVES, MISCELLANEOUS",
                "UPC": "324385034345",
                "WAC": "1.80",
                "WACPackagePrice": "1.80"
              },
              {
                "AWP": "0.51",
                "AWPPackagePrice": "7.59",
                "CatalogItemDescription": "GNP EARWAX REMOVAL 6.5% DRP 0.5OZ",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Drops",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "8120",
                "InventoryGroupID": "409ea005-ed04-4393-81de-e1601be74553",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "1.97",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "39b30702-7321-40e4-a03b-05eb745659cf",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "8adfb28c-df89-418c-8cbc-8e30900ff459",
                "ItemName": "GNP EARWAX REMOVAL DROPS 0.5OZ",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.16",
                "NADACPackagePrice": "2.36",
                "NDC": "46122055705",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "1.97",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "15.00",
                "Strength": "6.5 %",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "791677",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "7.59",
                "TherapeuticClassCode": "52042400.00",
                "TherapeuticClassDescription": "ASTRINGENTS (52:04)",
                "UPC": "087701431524",
                "WAC": "0.15",
                "WACPackagePrice": "2.22"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Gnp Cotton Exfoliating Rounds 80ct",
                "CurrentOnHandQuantity": "8.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "28b870b0-3990-46ca-916a-8c2294f17ade",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "2.03",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "3d894566-8744-4bfe-a985-3957d3efef02",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "e9ca2246-59ac-4a3e-a183-53f2fcd2b67a",
                "ItemName": "Gnp Cotton Exfoliating Rounds 80ct",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "2.03",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "944640",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "3.79",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "087701432873",
                "WAC": "1.59",
                "WACPackagePrice": "1.59"
              },
              {
                "AWP": "0.57",
                "AWPPackagePrice": "6.89",
                "CatalogItemDescription": "GNP URINARY PAIN RELIEF MAX 99.5MG 12CT",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "79502",
                "InventoryGroupID": "392fb486-ddd9-4c45-b015-d749ef680ca1",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "2.04",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "dfa25402-61fa-45f9-baf9-1785eb019e46",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "728ae719-14f8-4562-bdd8-773dcdc74a11",
                "ItemName": "GNP URINARY PAIN RELIEF MAX 99.5MG 12CT",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.18",
                "NADACPackagePrice": "2.18",
                "NDC": "46122062853",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "2.04",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "12.00",
                "Strength": "99.5 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "904298",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "7.39",
                "TherapeuticClassCode": "84080000.00",
                "TherapeuticClassDescription": "ANTIPRURITICS AND LOCAL ANESTHETICS",
                "UPC": "087701432309",
                "WAC": "0.20",
                "WACPackagePrice": "2.40"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Gill Foamy Sensitive Shave Crm 11oz",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "92e91e15-475a-4fc2-843f-951cc23c85e9",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "2.56",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "ec0e2df0-bd05-4c71-aeaa-479b55d54875",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "c6abbbd7-2ff0-4193-bbbf-563e67238d96",
                "ItemName": "GILL FOAMY SENSITIVE SHAVE CRM 11OZ",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "2.56",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "4.62",
                "SupplierItemNumber": "093500",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "4.79",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "047400241459",
                "WAC": "2.39",
                "WACPackagePrice": "2.39"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Eos Lip Blm Visibl Sft Cocnut Milk .25oz",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "420ec971-4aff-42a8-a825-45cadf719b9e",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "2.88",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "39f2927e-6c8b-4701-8c88-ef78894d53e9",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "1eacdda2-01df-493c-aa61-aeeb89cfa5ee",
                "ItemName": "Eos Lip Blm Visibl Sft Cocnut Milk .25oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "2.88",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "536488",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "6.69",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "832992010046",
                "WAC": "2.88",
                "WACPackagePrice": "2.88"
              },
              {
                "AWP": "0.39",
                "AWPPackagePrice": "9.29",
                "CatalogItemDescription": "GNP NASAL DECONGESTANT PSE TAB 24CT",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "5089",
                "InventoryGroupID": "7d0dae5e-21b7-49f9-a7cc-266028ec8c22",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "3.19",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "e2c401c9-2e5f-4f15-aca3-e3b908e4993b",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "2",
                "ItemID": "16604fa3-bd22-448c-9792-a4911a2705ad",
                "ItemName": "GNP NASAL DCNGSTNT PSE M/S TAB 24CT",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.06",
                "NADACPackagePrice": "1.54",
                "NDC": "46122042862",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "6.38",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "24.00",
                "Strength": "30 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "666008",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "9.19",
                "TherapeuticClassCode": "12121200.00",
                "TherapeuticClassDescription": "ALPHA- AND BETA-ADRENERGIC AGONISTS",
                "UPC": "087701429675",
                "WAC": "0.17",
                "WACPackagePrice": "4.16"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "AQUAFRESH EXTREME CLEAN PASTE WHT 5.6OZ",
                "CurrentOnHandQuantity": "5.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "0a4c3f65-a9f3-4db4-904f-5a636126a3df",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "3.45",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "c78c8bc2-d5c0-4ae5-810c-8f371a39f7c1",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "7e8dbf70-ed0c-4f9d-b43d-a309328c8032",
                "ItemName": "Aquafresh Extreme Clean Paste Wht 5.6oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "00135023406",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "3.45",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "6.90",
                "SupplierItemNumber": "486264",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "5.29",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "053100338832",
                "WAC": "3.17",
                "WACPackagePrice": "3.17"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Crest 3d White Arctic Fresh T/p 2.4oz",
                "CurrentOnHandQuantity": "9.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "6147aaf1-8f7b-4684-8030-fc94854653f6",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "3.51",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "32a8e3fa-d403-4532-a394-3d4785c0aec7",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "2",
                "ItemID": "42da49a7-279b-4ef1-9770-1e590852c5e1",
                "ItemName": "Crest 3d White Arctic Fresh T/p 2.4oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "7.02",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "7.06",
                "SupplierItemNumber": "754393",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "5.59",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "030772125526",
                "WAC": "3.51",
                "WACPackagePrice": "3.51"
              },
              {
                "AWP": "8.00",
                "AWPPackagePrice": "8.00",
                "CatalogItemDescription": "DRAMAMINE NON DROWSY NATURALS CAP 18CT",
                "CurrentOnHandQuantity": "4.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "28051",
                "InventoryGroupID": "cae70975-5f70-46f5-896a-c0fdf64991f0",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "5.13",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "f72a27bb-f599-4d16-9d19-840d8e15f631",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "1bdcb52d-a725-416c-b265-da18c01c9ea9",
                "ItemName": "Dramamine Non Drowsy Naturals Cap 18ct",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "31248000537",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "5.13",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "369145",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "10.59",
                "TherapeuticClassCode": "92920000.00",
                "TherapeuticClassDescription": "OTHER MISCELLANEOUS THERAPEUTIC AGENTS",
                "UPC": "831248005379",
                "WAC": "4.57",
                "WACPackagePrice": "4.57"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Orajel 3x Medicated Mouth Sore Gel .42oz",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "f09bc27d-6d31-4123-b971-066443d7adef",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "5.30",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "7b468228-78c8-4fb5-b773-f910b59234ef",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "04c8344c-989d-41d4-b403-32c2bdd2f409",
                "ItemName": "Orajel 3x Medicated Mouth Sore Gel .42oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "5.30",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "597823",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "10.79",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "310310318055",
                "WAC": "4.95",
                "WACPackagePrice": "4.95"
              },
              {
                "AWP": "9.61",
                "AWPPackagePrice": "9.61",
                "CatalogItemDescription": "TUMS ULTRA STR ASSRT FRUIT CHW 72",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet, Chewable",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "58001",
                "InventoryGroupID": "1ab4aca1-cfee-4708-bfec-5e36c3a5c5de",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "5.49",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "cf8b6e56-451e-4978-acdd-b10294604a49",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "71f8ab03-6cf0-4faf-b9bd-b5051368764c",
                "ItemName": "TUMS ULTRA STR ASSRT FRUIT CHEW TAB 72",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.00",
                "NADACPackagePrice": "0.00",
                "NDC": "00135056001",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "5.49",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "470 mg calcium (1,177 mg)",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "753976",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "9.59",
                "TherapeuticClassCode": "56040000.00",
                "TherapeuticClassDescription": "ANTACIDS AND ADSORBENTS",
                "UPC": "307660745655",
                "WAC": "5.49",
                "WACPackagePrice": "5.49"
              },
              {
                "AWP": "44.93",
                "AWPPackagePrice": "44.93",
                "CatalogItemDescription": "PEDIALYTE ADV CARE CHRY PNCH LIQ RETL 1L",
                "CurrentOnHandQuantity": "4.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Solution",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "1431",
                "InventoryGroupID": "9a40c5e9-c0f9-4b0d-8a20-1876147439ea",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "6.15",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "8a6c2e98-266a-4577-b71d-09ac10743fe9",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "567c463d-453e-4474-8a17-7c1e6b8808da",
                "ItemName": "PEDIALYTE ADV CARE CHRY PNCH LIQ RETL 1L",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "70074063057",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "6.15",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "9.99",
                "SupplierItemNumber": "848743",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "7.49",
                "TherapeuticClassCode": "40120000.00",
                "TherapeuticClassDescription": "REPLACEMENT PREPARATIONS",
                "UPC": "070074630588",
                "WAC": "5.59",
                "WACPackagePrice": "5.59"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Sensodyne Pronamel Int Rep Wht T/p 3.4oz",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "dfc3e13f-a2b9-4eb2-b1a1-253a9698dcdf",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "6.52",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "1813f0af-0c3a-40c3-a088-9de44f812ba4",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "c6ff1da9-0dad-4a99-b77d-f2a8936416f2",
                "ItemName": "Sensodyne Pronamel Int Rep Wht T/p 3.4oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "6.52",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "951392",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "9.29",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "310158887638",
                "WAC": "6.52",
                "WACPackagePrice": "6.52"
              },
              {
                "AWP": "0.20",
                "AWPPackagePrice": "8.15",
                "CatalogItemDescription": "MIDOL COMPLETE CAPLET 40CT",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "20181",
                "InventoryGroupID": "ab71838a-5c99-40a9-9734-0532e5e4d2a0",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "6.79",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "e3ad6d81-e6e4-49ee-8371-5045a50aee6b",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "6318bc21-b348-41c5-ab75-1e320cf88654",
                "ItemName": "MIDOL COMPLETE CAPLET 40CT",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "12843055519",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "6.79",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "40.00",
                "Strength": "500 mg-15 mg-60 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "244863",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "13.59",
                "TherapeuticClassCode": "4040800.00",
                "TherapeuticClassDescription": "ETHYLENEDIAMINE DERIVATIVES",
                "UPC": "312843555198",
                "WAC": "0.17",
                "WACPackagePrice": "6.79"
              },
              {
                "AWP": "14.00",
                "AWPPackagePrice": "14.00",
                "CatalogItemDescription": "LIQUID IV IMMUNE SUPPORT TANGERN PWD 6CT",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "87913",
                "InventoryGroupID": "5dbd1f99-4467-420c-b004-552f25ef2883",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "7.20",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "105d5341-c11c-4967-88df-fc63b4799951",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "9d51ca23-d045-4188-a4e5-6e128d95c3df",
                "ItemName": "Liquid Iv Immune Support Tangern Pwd 6ct",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "51741000887",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "7.20",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "14.50",
                "SupplierItemNumber": "730190",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "12.69",
                "TherapeuticClassCode": "40120000.00",
                "TherapeuticClassDescription": "REPLACEMENT PREPARATIONS",
                "UPC": "851741008875",
                "WAC": "8.00",
                "WACPackagePrice": "8.00"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Robitussin Sevre Mlti-Sym Cf Max Liq 4oz",
                "CurrentOnHandQuantity": "6.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "d3987094-5470-49aa-9974-a9ae0732dc58",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "7.52",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "ef895757-1eca-4de6-a0bb-4637c82f79b6",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "68fbdef2-e186-4041-9a8e-c99fbb3bd298",
                "ItemName": "Robitussin Sevre Mlti-Sym Cf Max Liq 4oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "7.52",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "755035",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "11.69",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "300312094668",
                "WAC": "7.52",
                "WACPackagePrice": "7.52"
              },
              {
                "AWP": "4.15",
                "AWPPackagePrice": "10.38",
                "CatalogItemDescription": "LUMIFY REDNESS RLF DRP 2.5ML BAUSCH&LOMB",
                "CurrentOnHandQuantity": "28.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Drops",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "78056",
                "InventoryGroupID": "0aea8d66-b4ff-4869-9e53-9097f2b74b42",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "7.78",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "449d45ea-607b-49f1-bd7f-3ef4090bf11b",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "9164b54c-7d38-45b8-be85-161aa43b9ea4",
                "ItemName": "LUMIFY REDNESS RLF DRP 2.5ML BAUSCH&LOMB",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "3.46",
                "NADACPackagePrice": "8.65",
                "NDC": "24208053708",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "7.78",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "2.50",
                "Strength": "0.025 %",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "727091",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "14.19",
                "TherapeuticClassCode": "52400400.00",
                "TherapeuticClassDescription": "ALPHA-ADRENERGIC AGONISTS (52:40)",
                "UPC": "310119537084",
                "WAC": "3.46",
                "WACPackagePrice": "8.65"
              },
              {
                "AWP": "1.25",
                "AWPPackagePrice": "13.89",
                "CatalogItemDescription": "GNP FLUTICASONE 24HR ALLERGY SPY 11.1ML",
                "CurrentOnHandQuantity": "1.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Spray, Suspension",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "73300",
                "InventoryGroupID": "05521986-3b2b-491d-9612-6c180a6c5630",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "7.91",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "a0d05664-3918-462a-ac51-0a857d8eee46",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "2",
                "ItemID": "599898a2-85f9-40ef-ba7f-cf639ce8cabc",
                "ItemName": "GNP FLUTICASNE 24HR ALRGY 72 SPRY 11.1ML",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.81",
                "NADACPackagePrice": "9.02",
                "NDC": "46122068435",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "15.82",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "11.10",
                "Strength": "50 mcg/actuation",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "741112",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "13.89",
                "TherapeuticClassCode": "52080800.00",
                "TherapeuticClassDescription": "CORTICOSTEROIDS (EENT)",
                "UPC": "087701433849",
                "WAC": "0.84",
                "WACPackagePrice": "9.31"
              },
              {
                "AWP": "0.10",
                "AWPPackagePrice": "0.10",
                "CatalogItemDescription": "Tums Extra Tablet Fruit Single 12x8ct",
                "CurrentOnHandQuantity": "18.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "c1276b32-44ef-4c9f-81fc-baf1ec0eb922",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "8.49",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "2676be61-1135-498b-b548-fc762344a586",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "21109d9c-5205-4809-a60d-4a839ef592af",
                "ItemName": "Tums Extra Tablet Fruit Single 12x8ct",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "00766073919",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "0.71",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "503268",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "2.19",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "307660739197",
                "WAC": "0.66",
                "WACPackagePrice": "0.66"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Neutrogena Sun Ultr Sheer Dry Spf30 3oz",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "52e56a9a-7ec4-4b30-9611-c35309eaaa10",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "8.79",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "9d6aff40-1909-4a8e-a2d7-780c8784a10d",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "4a196f5f-9af2-4d3d-9a11-f83c3e710b65",
                "ItemName": "Neutrogena Sun Ultr Sheer Dry Spf30 3oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "8.79",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "17.58",
                "SupplierItemNumber": "669693",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "14.19",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "086800687856",
                "WAC": "8.45",
                "WACPackagePrice": "8.45"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "Neutrogena Sun Ultr Sheer Dry Spf55 3oz",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "",
                "InventoryGroupID": "3160b983-4cd9-4bfd-b438-0ac81dcb759c",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "8.98",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "011baa96-e1c5-4954-9a2e-d89a32ecfa88",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "4c756c7f-d952-4ae6-bf2d-3922866ddeb9",
                "ItemName": "Neutrogena Sun Ultr Sheer Dry Spf55 3oz",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "8.98",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "17.99",
                "SupplierItemNumber": "540029",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "15.39",
                "TherapeuticClassCode": "",
                "TherapeuticClassDescription": "",
                "UPC": "086800687900",
                "WAC": "8.45",
                "WACPackagePrice": "8.45"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "SUDAFED SINUS CONGESTION PSE TAB 48CT",
                "CurrentOnHandQuantity": "8.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "5089",
                "InventoryGroupID": "5393f5bd-fdcf-484c-b08e-cfe962ffff39",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "9.61",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "2a495ae5-ddf0-40ec-9791-66c328ae397d",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "d567fdab-50e9-4b45-8bb7-aa1b308bc86d",
                "ItemName": "SUDAFED SINUS CONGEST PSE 30 MG TAB 48",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "50580025002",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "9.61",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "48.00",
                "Strength": "30 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "750077",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "17.39",
                "TherapeuticClassCode": "12121200.00",
                "TherapeuticClassDescription": "ALPHA- AND BETA-ADRENERGIC AGONISTS",
                "UPC": "300810865487",
                "WAC": "0.20",
                "WACPackagePrice": "9.61"
              },
              {
                "AWP": "0.71",
                "AWPPackagePrice": "11.30",
                "CatalogItemDescription": "SUDAFED SINUS PSE 12HR PRS & PN CPL 16CT",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet Sustained Release 12 hr",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "50606",
                "InventoryGroupID": "b7830bdf-15ab-4294-93b3-fd8e3f831d56",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "9.61",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "99f1dd73-0b8d-4556-9abf-3925b5c6808b",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "4bf4c5d1-3ccd-49fc-a142-196f207b41d4",
                "ItemName": "SUDAFED SINUS 12HR PRS+PN CAP PSE 16CT",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "50580043401",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "9.61",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "16.00",
                "Strength": "220 mg-120 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "922575",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "17.39",
                "TherapeuticClassCode": "28080404.00",
                "TherapeuticClassDescription": "REVERSIBLE COX-1/COX-2 INHIBITORS",
                "UPC": "300450358165",
                "WAC": "0.60",
                "WACPackagePrice": "9.61"
              },
              {
                "AWP": "",
                "AWPPackagePrice": "",
                "CatalogItemDescription": "GNP FEXOFENADINE HCL 180 MG TAB 30CT",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "33716",
                "InventoryGroupID": "5580bdb4-b117-44f4-8251-86ff553af792",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "9.84",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "b48d0e68-772c-4083-8327-ca09edd6bb3a",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "7fb878c4-21b3-4c3d-a650-4c007b0327df",
                "ItemName": "Gnp Fexofenadine Hcl 180 Mg Tb",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.27",
                "NADACPackagePrice": "8.04",
                "NDC": "46122077961",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "9.84",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "30.00",
                "Strength": "180 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "740857",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "13.49",
                "TherapeuticClassCode": "4080000.00",
                "TherapeuticClassDescription": "SECOND GENERATION ANTIHISTAMINES",
                "UPC": "346122779616",
                "WAC": "0.38",
                "WACPackagePrice": "11.47"
              },
              {
                "AWP": "0.87",
                "AWPPackagePrice": "0.87",
                "CatalogItemDescription": "Nicorette Gum 4mg White Ice 20 Ct.",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "13486",
                "InventoryGroupID": "f10e568c-6892-4361-a2ca-564d47a80315",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "9.96",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "dd7ab870-32e7-4daf-9134-6fb6171e9fed",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "27b5b818-8ca7-4006-8289-a8a15afc7ec1",
                "ItemName": "Nicorette Gum 4mg White Ice 20 Ct.",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.00",
                "NADACPackagePrice": "0.00",
                "NDC": "00135047508",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "9.96",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "828501",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "17.99",
                "TherapeuticClassCode": "12020000.00",
                "TherapeuticClassDescription": "SMOKING CESSATION AGENTS",
                "UPC": "307667760545",
                "WAC": "9.96",
                "WACPackagePrice": "9.96"
              },
              {
                "AWP": "19.15",
                "AWPPackagePrice": "19.15",
                "CatalogItemDescription": "BEANO TABLET 100 CT",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "82677",
                "InventoryGroupID": "b8e50fb4-3dfb-4c9d-a23c-35188102893b",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "10.94",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "492e469a-27ab-4297-a495-1f12f73d283a",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "6e3f83ba-c150-4597-a361-03b6944a5007",
                "ItemName": "Beano Tablet 100 Ct",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "42037010300",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "10.94",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "203632",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "18.69",
                "TherapeuticClassCode": "56160000.00",
                "TherapeuticClassDescription": "DIGESTANTS",
                "UPC": "042037103002",
                "WAC": "10.94",
                "WACPackagePrice": "10.94"
              },
              {
                "AWP": "0.96",
                "AWPPackagePrice": "19.16",
                "CatalogItemDescription": "NICORETTE COATD LOZNGE ICE MINT 2MG 20CT",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Lozenge",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "48776",
                "InventoryGroupID": "7870e86c-1106-4da1-96e5-69d06993498b",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "10.95",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "0261c140-e86f-4e3c-abb2-ff7ef5617643",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "976ac5d2-ae67-485f-bb86-8fb4b717e423",
                "ItemName": "Nicorette 2 Mg Lozenge",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "00135062501",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "10.95",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "20.00",
                "Strength": "2 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "868976",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "18.89",
                "TherapeuticClassCode": "12020000.00",
                "TherapeuticClassDescription": "SMOKING CESSATION AGENTS",
                "UPC": "307669812402",
                "WAC": "0.55",
                "WACPackagePrice": "10.95"
              },
              {
                "AWP": "15.90",
                "AWPPackagePrice": "15.90",
                "CatalogItemDescription": "BENADRYL ALLERGY ULTRATAB 100CT",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "11594",
                "InventoryGroupID": "a59ba6a4-585c-4446-8c36-a7e9a6a74bfc",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "13.25",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "4a10a926-572e-4ab1-8826-254295a2a5c7",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "37dfb9f6-2fa2-4416-b66a-0f7b20db888f",
                "ItemName": "Benadryl Allergy Ultratab 100ct",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "50580022650",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "13.25",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "1.00",
                "Strength": "",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "241158",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "21.89",
                "TherapeuticClassCode": "4040400.00",
                "TherapeuticClassDescription": "ETHANOLAMINE DERIVATIVES",
                "UPC": "300450170149",
                "WAC": "13.25",
                "WACPackagePrice": "13.25"
              },
              {
                "AWP": "2.41",
                "AWPPackagePrice": "18.06",
                "CatalogItemDescription": "LUMIFY REDNESS RLF DRP 7.5ML BAUSCH&LOMB",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Drops",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "78056",
                "InventoryGroupID": "f4e5191f-97ce-4224-b8b1-65a5b17e27b6",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "13.54",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "9e9f435e-ac2e-4938-b6d6-1d7229a571e4",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "be29fb69-3aaf-4d9b-afe6-79eae09970dd",
                "ItemName": "LUMIFY REDNESS RLF DRP 7.5ML BAUSCH&LOMB",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "1.99",
                "NADACPackagePrice": "14.95",
                "NDC": "24208053725",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "13.54",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "7.50",
                "Strength": "0.025 %",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "727123",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "24.19",
                "TherapeuticClassCode": "52400400.00",
                "TherapeuticClassDescription": "ALPHA-ADRENERGIC AGONISTS (52:40)",
                "UPC": "310119537251",
                "WAC": "2.01",
                "WACPackagePrice": "15.05"
              },
              {
                "AWP": "1.02",
                "AWPPackagePrice": "24.48",
                "CatalogItemDescription": "MONISTAT 3 COMBINATION PACK APL+CRM KIT",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "GM",
                "DosageFormText": "Comb Pack,Prefill Appl & Cream",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "70127",
                "InventoryGroupID": "f566be00-ffd9-46ae-bb9c-e245f13917c1",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "13.99",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "14ff2764-6b16-4afc-b220-0421313fa84d",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "78722a7d-d8be-4598-9273-3e3b56ce27ca",
                "ItemName": "Monistat 3 Combo Pack",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "63736000075",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "13.99",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "24.00",
                "Strength": "4 % (200 mg)-2 % (9 gram)",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "761806",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "25.29",
                "TherapeuticClassCode": "84040808.00",
                "TherapeuticClassDescription": "AZOLES (SKIN AND MUCOUS MEMBRANE)",
                "UPC": "363736000752",
                "WAC": "0.58",
                "WACPackagePrice": "13.99"
              },
              {
                "AWP": "0.36",
                "AWPPackagePrice": "24.99",
                "CatalogItemDescription": "REFRESH PLUS VL 70 UD",
                "CurrentOnHandQuantity": "2.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Dropperette",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "30011",
                "InventoryGroupID": "8d1a9e0c-2a95-4031-ad3f-6491850df210",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "18.17",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "df81a8d1-f3e3-4cfc-a165-7a193e406ea4",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "7c2762c0-3f43-4e26-8934-f091cbe4ea7f",
                "ItemName": "REFRESH PLUS P/F 70-CT",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.26",
                "NADACPackagePrice": "18.17",
                "NDC": "00023040370",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "18.14",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "70.00",
                "Strength": "0.5 %",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "344176",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "27.59",
                "TherapeuticClassCode": "52920000.00",
                "TherapeuticClassDescription": "EENT DRUGS, MISCELLANEOUS",
                "UPC": "300230403702",
                "WAC": "0.26",
                "WACPackagePrice": "18.17"
              },
              {
                "AWP": "0.60",
                "AWPPackagePrice": "41.99",
                "CatalogItemDescription": "ALLEGRA OTC 24HR 180MG TABLET 70CT",
                "CurrentOnHandQuantity": "0.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "33716",
                "InventoryGroupID": "462b8af7-4dbd-4cfd-8f35-7db005ef4970",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "29.95",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "9ba5f539-202e-4953-8503-34d3b3b256ab",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241502325",
                "InvoiceQuantity": "1",
                "ItemID": "7d85fc5b-ccc5-4884-aed3-ae4dacd1f23d",
                "ItemName": "Allegra Allergy 180 Mg Tablet",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "41167412006",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "29.95",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "70.00",
                "Strength": "180 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "251603",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "42.69",
                "TherapeuticClassCode": "4080000.00",
                "TherapeuticClassDescription": "SECOND GENERATION ANTIHISTAMINES",
                "UPC": "041167412060",
                "WAC": "0.42",
                "WACPackagePrice": "29.07"
              },
              {
                "AWP": "0.57",
                "AWPPackagePrice": "6.89",
                "CatalogItemDescription": "GNP URINARY PAIN RELIEF MAX 99.5MG 12CT",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "79502",
                "InventoryGroupID": "392fb486-ddd9-4c45-b015-d749ef680ca1",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "2.04",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "99b2b341-25af-42c8-951f-8e4e8ecc96df",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505055",
                "InvoiceQuantity": "2",
                "ItemID": "728ae719-14f8-4562-bdd8-773dcdc74a11",
                "ItemName": "GNP URINARY PAIN RELIEF MAX 99.5MG 12CT",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.18",
                "NADACPackagePrice": "2.18",
                "NDC": "46122062853",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "4.08",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "12.00",
                "Strength": "99.5 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "904298",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "7.39",
                "TherapeuticClassCode": "84080000.00",
                "TherapeuticClassDescription": "ANTIPRURITICS AND LOCAL ANESTHETICS",
                "UPC": "087701432309",
                "WAC": "0.20",
                "WACPackagePrice": "2.40"
              },
              {
                "AWP": "0.17",
                "AWPPackagePrice": "16.78",
                "CatalogItemDescription": "SODIUM CHLORIDE 1 GM TAB 100",
                "CurrentOnHandQuantity": "9.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "60491",
                "InventoryGroupID": "1bd0a9be-1566-4298-97a9-010240e39928",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "7.37",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "63cf3fed-ff46-433f-b884-fcd17b8dfa89",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505055",
                "InvoiceQuantity": "5",
                "ItemID": "1f78f539-807e-4153-aadf-d28de016580b",
                "ItemName": "SODIUM CHLORIDE TAB 1GM",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "69367022001",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "25.70",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "5",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "100.00",
                "Strength": "1 gram",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "877872",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "13.29",
                "TherapeuticClassCode": "92920000.00",
                "TherapeuticClassDescription": "OTHER MISCELLANEOUS THERAPEUTIC AGENTS",
                "UPC": "369367220019",
                "WAC": "0.08",
                "WACPackagePrice": "8.00"
              },
              {
                "AWP": "0.92",
                "AWPPackagePrice": "55.20",
                "CatalogItemDescription": "VISBIOME PROBIOTIC 112.5B CAP 60",
                "CurrentOnHandQuantity": "3.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Capsule",
                "DrugClassText": "OTC",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "62680",
                "InventoryGroupID": "9e059480-b7e1-44f7-98df-11f8ce55cd89",
                "InventoryGroupTypeText": "Retail",
                "InvoiceCostPerUnit": "46.00",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "90e80e58-ac21-416d-8b0d-05b58c99ad30",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505055",
                "InvoiceQuantity": "2",
                "ItemID": "c6f5ad03-972b-406c-ad0e-f2609d765dda",
                "ItemName": "VISBIOME PROBIOTIC HIGH",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "",
                "NADACPackagePrice": "",
                "NDC": "69355041203",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "92.00",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "60.00",
                "Strength": "112.5 billion cell",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "481642",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "71.19",
                "TherapeuticClassCode": "56920000.00",
                "TherapeuticClassDescription": "GI DRUGS, MISCELLANEOUS",
                "UPC": "369355412037",
                "WAC": "0.77",
                "WACPackagePrice": "46.00"
              },
              {
                "AWP": "36.32",
                "AWPPackagePrice": "871.66",
                "CatalogItemDescription": "IMIQUIMOD 5% CRM 24X0.25 GM UD",
                "CurrentOnHandQuantity": "72.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Cream in Packet",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "31099",
                "InventoryGroupID": "fa44ba3f-32f8-400b-b7e7-0d5128fbe96b",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "15.03",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "315f64b9-aba3-4bd4-8963-38ec2aa6a5e8",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505056",
                "InvoiceQuantity": "2",
                "ItemID": "43db0030-789c-490c-89ba-4c6681672e7e",
                "ItemName": "IMIQUIMOD 5% CREAM",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.68",
                "NADACPackagePrice": "16.39",
                "NDC": "45802036862",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "30.06",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "2",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "24.00",
                "Strength": "5 %",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "045993",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "84180000.00",
                "TherapeuticClassDescription": "ANTIPROLIFERANTS",
                "UPC": "345802368621",
                "WAC": "2.08",
                "WACPackagePrice": "50.00"
              },
              {
                "AWP": "0.65",
                "AWPPackagePrice": "76.49",
                "CatalogItemDescription": "HYDROCORTISONE 2.5% LOT 118 ML",
                "CurrentOnHandQuantity": "118.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Lotion",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "7554",
                "InventoryGroupID": "a2b89df5-ec26-44e1-8696-d21002b508d2",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "21.37",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "ac5c470c-cde1-4c07-9cfa-9d686771ccc5",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505056",
                "InvoiceQuantity": "1",
                "ItemID": "d48b9f30-976b-4f67-b5ec-d1083dc6222e",
                "ItemName": "HYDROCORTISONE LOT 2.5%",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.24",
                "NADACPackagePrice": "27.88",
                "NDC": "45802093726",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "21.37",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "118.00",
                "Strength": "2.5 %",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "098499",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "84060800.00",
                "TherapeuticClassDescription": "CORTICOSTEROIDS (SKIN, MUCOUS MEMBRANE)",
                "UPC": "345802937261",
                "WAC": "0.27",
                "WACPackagePrice": "32.35"
              },
              {
                "AWP": "1.08",
                "AWPPackagePrice": "108.46",
                "CatalogItemDescription": "ARMOUR THYROID 15 MG TAB 100",
                "CurrentOnHandQuantity": "170.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "65421",
                "InventoryGroupID": "cc7c81de-b394-4d1a-8669-5f29914800a8",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "87.28",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "9444a243-715b-432e-b710-93abe1137fcf",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505056",
                "InvoiceQuantity": "1",
                "ItemID": "ff57e364-17b2-4133-bd26-537b6c23fdf6",
                "ItemName": "ARMOUR THYROID 1/4GR",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.87",
                "NADACPackagePrice": "86.58",
                "NDC": "00456104501",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "87.28",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "100.00",
                "Strength": "15 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "756871",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "68360400.00",
                "TherapeuticClassDescription": "THYROID AGENTS",
                "UPC": "304561045013",
                "WAC": "0.90",
                "WACPackagePrice": "90.38"
              },
              {
                "AWP": "3.06",
                "AWPPackagePrice": "91.67",
                "CatalogItemDescription": "CANDESARTAN CILEXETIL 16 MG TAB 30",
                "CurrentOnHandQuantity": "-60.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Tablet",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "37017",
                "InventoryGroupID": "8fffed26-1995-49a4-a280-03961ebfe689",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "18.60",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "ed60b7b0-bfda-4480-bf69-857945a4f837",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505057",
                "InvoiceQuantity": "1",
                "ItemID": "a40310c1-ec26-4819-939e-c7c4ee62bf15",
                "ItemName": "CANDESARTAN CILEXETIL 16 MG TAB 30",
                "LabelType": "Generic",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "0.49",
                "NADACPackagePrice": "14.66",
                "NDC": "00378323193",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "8.87",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "30.00",
                "Strength": "16 mg",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "943631",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "24320800.00",
                "TherapeuticClassDescription": "ANGIOTENSIN II RECEPTOR ANTAGONISTS",
                "UPC": "303783231938",
                "WAC": "1.03",
                "WACPackagePrice": "31.00"
              },
              {
                "AWP": "7.71",
                "AWPPackagePrice": "23.13",
                "CatalogItemDescription": "LANTUS SOLOSTAR 100 UN/ML PFP 5X3 ML",
                "CurrentOnHandQuantity": "0.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "ML",
                "DosageFormText": "Insulin Pen",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "62867",
                "InventoryGroupID": "ad22e08e-e41a-41fe-9bb4-27021dde46a2",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "92.32",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "6d55b994-eb72-4b87-9604-eaa464c0bfac",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505057",
                "InvoiceQuantity": "1",
                "ItemID": "ed318c05-8524-457b-8229-6474f42f0b03",
                "ItemName": "LANTUS SOLOSTAR 100U/ML NCNR",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "6.17",
                "NADACPackagePrice": "18.50",
                "NDC": "00088221905",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "18.46",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "3.00",
                "Strength": "100 unit/mL (3 mL)",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "019174",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "68200816.00",
                "TherapeuticClassDescription": "LONG-ACTING INSULINS",
                "UPC": "300882219058",
                "WAC": "6.43",
                "WACPackagePrice": "19.28"
              },
              {
                "AWP": "3.12",
                "AWPPackagePrice": "187.19",
                "CatalogItemDescription": "ADVAIR DISKUS INHA 100/50 MCG INH 60 UD",
                "CurrentOnHandQuantity": "0.00",
                "DeaSchedule": "0",
                "DispensingUnitText": "EA",
                "DosageFormText": "Disk with Device",
                "DrugClassText": "Rx",
                "FriendlyFilter": "Invoice Status Changed Between 2/7/2026 and Any\n",
                "GCN": "43366",
                "InventoryGroupID": "d3ea85e2-56c1-44c8-999d-00b00ca033aa",
                "InventoryGroupTypeText": "Rx",
                "InvoiceCostPerUnit": "150.64",
                "InvoiceDate": "02/07/2026 00:00:00",
                "InvoiceDetailID": "6b9c0f4f-479d-47dd-8622-c6b4bd9e45e5",
                "InvoiceLotNumberWithExpirationList": "",
                "InvoiceNumber": "3241505057",
                "InvoiceQuantity": "1",
                "ItemID": "890428fd-779a-410c-a7c8-84f4c7f38ae4",
                "ItemName": "ADVAIR DISKUS 100/50",
                "LabelType": "Brand",
                "LocationAddress": "244 Forest Ave",
                "LocationCityStateZip": "Laguna Beach, CA 92651-2114",
                "LocationFaxNumber": "(949) 494-8807",
                "LocationNPI": "1992898910",
                "LocationPhoneNumber": "(949) 494-1059",
                "LocationPrintName": "Bushard's Pharmacy",
                "LotNumberWithExpirationList": "",
                "NADAC": "2.49",
                "NADACPackagePrice": "149.32",
                "NDC": "00173069500",
                "PriceBasis": "0.00",
                "PriceBasisPackagePrice": "0.00",
                "PreferredCostForProfit": "150.64",
                "PreferredRebateCost": "0.00",
                "ReceivedQuantity": "1",
                "StatusChangedOn": "02/07/2026 04:06:51",
                "StockSize": "60.00",
                "Strength": "100 mcg-50 mcg/dose",
                "SuggestedRetailPrice": "",
                "SupplierItemNumber": "864546",
                "SupplierName": "ABC",
                "SupplierRetailPrice": "",
                "TherapeuticClassCode": "12120812.00",
                "TherapeuticClassDescription": "SELECTIVE BETA-2-ADRENERGIC AGONISTS",
                "UPC": "301730695003",
                "WAC": "2.60",
                "WACPackagePrice": "155.99"
              }
            ]
          },
          "webhookUrl": "https://n8n.bushardspharmacy.com/webhook-test/invoice-detail",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e25854f3-2d1f-48e3-ac7d-bd61967d2e10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cb58446bc7f7a5573d7771c99512d13b6bddd2b7ced81da03f539a513b2f672"
  },
  "id": "3U8cppw7EmTeOnK1",
  "tags": []
}